<div id="groupForm">
    <ul class="ul-group">
        <li>
            <p class="bold">Name</p>
            <input type="text" id="txtName" name="Name" class="k-textbox" required="" style="width:350px" data-required-msg="Name is required" />
            <span class="k-invalid-msg" data-for="Name"></span>
        </li>
        <li>
            <p class="bold">Description</p>
            <textarea id="txaDescription" name="Description" maxlength="400" class="k-textbox" style="width: 90%; margin-top: 0px" required="" data-required-msg="Description is required"></textarea>
            <span class="k-invalid-msg" data-for="Description"></span>
        </li>
        <li style="width: 250px; margin-top: 20px">
            <button id="btnAdd" type="button" class="k-button"><span>Save</span></button>
            <button id="btnCancel" type="button" class="k-button"><span>Cancel</span></button>
        </li>
    </ul>
</div>